$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* SimFin styles */

/*** App styles ***/
.invisible-button {
  padding: 0px;
  border: none;
  background: none;
  color: inherit;
}
.clickable {
  &:hover {
    cursor: pointer;
    color: $btn-default-color;
  }
}

/*** SVG styles ***/

/* price chart */
$chart-bg: #000;
$chart-primary: #fff;
$chart-advance: #0F0;
$chart-decline: #F00;

svg {
  background-color: $chart-bg;
}

line {
  shape-rendering: crispEdges;
}

.axis text {
  fill: orange;
}

.axis path,
.axis line {
  fill: none;
  stroke: $chart-primary;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

g.up {
  .bar-body, .open-notch, .close-notch {
    stroke: $chart-advance;
  }
}
g.down {
  .bar-body, .open-notch, .close-notch {
    stroke: $chart-decline;
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
