<div ng-include="'partials/navbar'"></div>

<div class="row marketing">
  <h1>Symbol: {{ohlcData.currentSymbol}}</h1>
</div>
<div>
  <button ng-click="step(-1)">back</button>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="control-panel">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputSymbol" class="col-xs-4 control-label">Symbol</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="text" class="form-control" id="inputSymbol" ng-model="unsavedData.symbol">
                <div class="input-group-addon">
                  <button class="glyphicon glyphicon-play invisible-button clickable" ng-click="setSymbol(unsavedData.symbol)" tabindex="0"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputInterval" class="col-xs-4 control-label">Interval</label>
            <div class="col-xs-8">
              <div>
                <select id="inputInterval" class="form-control" ng-model="ohlcData.currentInterval" ng-change="reloadData()">
                  <option value="d">Daily</option>
                  <option value="w">Weekly</option>
                  <option value="m">Monthly</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputFrame" class="col-xs-4 control-label">Frame size</label>
            <div class="col-xs-8">
              <div>
                <select id="inputFrame" class="form-control" ng-model="ohlcData.currentFrameSize" ng-change="updateFrameSize()">
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                  <option value="60">60</option>
                  <option value="120">120</option>
                  <option value="150">150</option>
                  <option value="365">365</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <price-chart data="ohlcData.priceData"></price-chart>
    </div>
  </div>
{{ohlcData.priceData}}
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
